<%= form_with model: Book.new do |f| %>
  <th>Title</th><br>
  <%= f.text_field :title %>
  
  <th>Opinion</th><br>
  <%= f.text_area :body %>
  
  <div class="row">
    <div class="col-6">
      <%= f.submit 'Create Book', class: 'btn btn-success text-white' %>
    </div>
  </div>
<% end %>